{
  "plugins": [
    "relay",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "Utils": "./src/utils",
          "Models": "./src/models",
          "Config": "./src/config",
          "Controllers": "./src/controllers",
          "Routes": "./src/routes",
          "Validations": "./src/validations"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-flow"]
}
